* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3EEE7;
}

a:visited {
    color: inherit;
}

.active{
    text-decoration: underline;
    background-color: orange;
}